# grid info
voxelSize 1
qualityThreshold 4

preallocBins 8000000


# data clipping
clipBoundsMin[2] 0
clipBoundsMax[2] 60

#output
outputFile ./bonney/bonney-points.csv
outputFormat CSVPoints

# How many neighbors will be used for normal estimation
#normalNeighbors 10

# Data configuration
inputFiles 19
inputFormat CSVPoints

# Process the biggest dive first to avoid memory fragmentation issues.
inputFile[0] ./bonney/bonney-09-dive26.csv
inputFile[1] ./bonney/bonney-09-dive17.csv
inputFile[2] ./bonney/bonney-09-dive18.csv
inputFile[3] ./bonney/bonney-09-dive19.csv
inputFile[4] ./bonney/bonney-09-dive20.csv
inputFile[5] ./bonney/bonney-09-dive21.csv
inputFile[6] ./bonney/bonney-09-dive22.csv
inputFile[7] ./bonney/bonney-09-dive23.csv
inputFile[8] ./bonney/bonney-09-dive24.csv
inputFile[9] ./bonney/bonney-09-dive25.csv
inputFile[10] ./bonney/bonney-09-dive13.csv
inputFile[11] ./bonney/bonney-09-dive27.csv

inputFile[12] ./bonney/bonney-08-dive05.csv
inputFile[13] ./bonney/bonney-08-dive07.csv
inputFile[14] ./bonney/bonney-08-dive08.csv
inputFile[15] ./bonney/bonney-08-dive09.csv
inputFile[16] ./bonney/bonney-08-dive10.csv
inputFile[17] ./bonney/bonney-08-dive12.csv
inputFile[18] ./bonney/bonney-08-dive13.csv
#inputFile[19] ./bonney/bonney-08-dive15.csv
#inputFile[20] ./bonney/bonney-08-dive16.csv
#inputFile[21] ./bonney/bonney-08-dive17.csv











