includeConfig bonney-09-subhalocline.dtrt.inc.cfg

# Output
outputFile ./bonney/bonney-09-dive20.xyzb
#outputFormat CSVPoints
outputFormat BinaryPointsWithBeamInfo

# Data configuration
inputFiles 2

diveTag[0] 20
diveTag[1] 20
deltatFile[0] /data/bonney_2009/Dive20/extracted_data/Dive20_24Nov09_deltaTData.0.txt
poseFile[0] /data/bonney_2009/Dive20/derived_data/Dive20_24Nov09_poseCorrected.0.txt
deltatFile[1] /data/bonney_2009/Dive20/extracted_data/Dive20_24Nov09_deltaTData.1.txt
poseFile[1] /data/bonney_2009/Dive20/derived_data/Dive20_24Nov09_poseCorrected.0.txt
