includeConfig bonney-08-down.inc.cfg

# Output
outputFile ./bonney/bonney-08-dive10.csv
outputFormat CSVPoints

# Data configuration
inputFiles 1

deltatFile[0] G:\bonney_2008\Dive10\derived_data\dive10_15dec08_profiler_mission_5.txt
poseFile[0] G:\bonney_2008\Dive10\derived_data\Dive10_15Dec08_poseCorrected.0.txt
