includeConfig bonney-09-forward.inc.cfg

# Output
outputFile ./bonney/bonney-09-dive18.csv
outputFormat CSVPoints

# Data configuration
inputFiles 2

diveTag[0] 18
diveTag[1] 18
diveTag[2] 18
deltatFile[0] G:\bonney_2009\Dive18\extracted_data\Dive18_23Nov09_deltaTData.0.txt
poseFile[0] G:\bonney_2009\Dive18\extracted_data\Dive18_23Nov09_pose.0.txt
deltatFile[1] G:\bonney_2009\Dive18\extracted_data\Dive18_23Nov09_deltaTData.1.txt
poseFile[1] G:\bonney_2009\Dive18\extracted_data\Dive18_23Nov09_pose.1.txt
deltatFile[2] G:\bonney_2009\Dive18\extracted_data\Dive18_23Nov09_deltaTData.2.txt
poseFile[2] G:\bonney_2009\Dive18\extracted_data\Dive18_23Nov09_pose.2.txt
